In [4]:
import pandas as pd
%config IPCompleter.greedy=True
import numpy as np

In [5]:
df = pd.read_csv('classification.csv')

In [6]:
df.head(6)

          x1        x2  label
0 -10.097950 -3.230260      1
1  -2.255579  5.107107      0
2 -10.562037 -3.919005      1
3  -0.126070  3.079037      0
4  -9.249422 -4.100176      1
5  -0.326299  5.184230      0