In [6]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [7]:
# Loading all the ds : 
regression1 = pd.read_csv('regression_1.csv')
regression2 = pd.read_csv('regression_2.csv')
classification = pd.read_csv('classification.csv')

In [12]:
regression1.head(5), regression1.describe()

(    x1        x2
 0  0.0 -0.674904
 1  0.1 -0.479806
 2  0.2 -0.806082
 3  0.3  0.053077
 4  0.4 -0.393342,
              x1         x2
 count  63.00000  63.000000
 mean    3.10000  -0.016079
 std     1.83303   1.167700
 min     0.00000  -2.112807
 25%     1.55000  -0.868252
 50%     3.10000  -0.043282
 75%     4.65000   0.865807
 max     6.20000   2.281413)

In [15]:
regression2.head(5), regression2.describe()

(     x1        x2
 0 -10.0  0.070295
 1  -9.0 -0.045762
 2  -8.0  0.044281
 3  -7.0 -0.012570
 4  -6.0  0.208319,
              x1         x2
 count  20.00000  20.000000
 mean   -0.50000   0.416417
 std     5.91608   0.459139
 min   -10.00000  -0.081131
 25%    -5.25000   0.031717
 50%    -0.50000   0.196542
 75%     4.25000   0.900379
 max     9.00000   1.124983)

In [13]:
classification.head(5), classification.describe()

(          x1        x2  label
 0 -10.097950 -3.230260      1
 1  -2.255579  5.107107      0
 2 -10.562037 -3.919005      1
 3  -0.126070  3.079037      0
 4  -9.249422 -4.100176      1,
                x1          x2       label
 count  500.000000  500.000000  500.000000
 mean    -5.798389    0.245624    0.500000
 std      4.231003    4.256805    0.500501
 min    -12.135348   -5.907046    0.000000
 25%     -9.910831   -3.966689    0.000000
 50%     -5.643838    0.638195    0.500000
 75%     -1.640695    4.432683    1.000000
 max      0.462040    6.121048    1.000000)

In [27]:
regression1.info() , regression1.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      63 non-null     float64
 1   x2      63 non-null     float64
dtypes: float64(2)
memory usage: 1.1 KB

(None, (63, 2))

In [19]:
regression2.info() , regression2.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      20 non-null     float64
 1   x2      20 non-null     float64
dtypes: float64(2)
memory usage: 452.0 bytes

In [29]:
classification.info() , classification.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      500 non-null    float64
 1   x2      500 non-null    float64
 2   label   500 non-null    int64
dtypes: float64(2), int64(1)
memory usage: 11.8 KB

(None, (500, 3))