In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
# Loading all the ds : 
regression1 = pd.read_csv('regression_1.csv')
regression2 = pd.read_csv('regression_2.csv')
classification = pd.read_csv('classification.csv')

In [5]:
regression1.head(5)

     x1        x2
0 -10.0  0.070295
1  -9.0 -0.045762
2  -8.0  0.044281
3  -7.0 -0.012570
4  -6.0  0.208319

In [ ]:
reg